<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add name="AzureConnectionString" connectionString="Data Source=admin-pc;Database=EmployeeManagementSystem;User Id=sa;Password=sql123;Network Library=DBMSSOCN;" providerName="System.Data.SqlClient" />-->
    <add name="AzureConnectionString" connectionString="Server=tcp:segassignmentsqlserver.database.windows.net,1433;Initial Catalog=EmployeeManagementSystem;Persist Security Info=False;User ID=segadmin;Password=seg@2017;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient="></add>
  </connectionStrings>
</configuration>